<form id="form-ticket" action="ticketsave" class="ui small modal">

    <i class="close icon"></i>

    <div class="header">
        {% if ticket.id is defined %}
            Edit Ticket
        {% else %}
            Add new Ticket - {{ ticket.createdAt|date("d/m/Y") }}
        {% endif %}
    </div>

    <div class="ui form content">
        <input class="" type="hidden" name="ticket_id" value="{{ ticket.id|default('') }}">

        <div class="ui horizontal divider" style="margin-top: 0;">
            Draws
        </div>

        <div class="two fields">
            <div class="field">
                <label>From</label>
                <input class="draw-range" type="text" name="start_draw" value="{{ ticket.startDraw|default('') }}">
            </div>
            <div class="field">
                <label>To</label>
                <input class="draw-range" type="text" name="end_draw" value="{{ ticket.endDraw|default('') }}">
            </div>
        </div>


        <div class="ui horizontal divider">
            Columns
        </div>

        {% for i in 0..4 %}
            <div class="seven fields jokernumbers">
                <div class="field">
                    <label>{{ i+1 }}.</label>
                </div>
                {% for j in 0..4 %}
                    <div class="field">
                        <input class="jokernumber" type="text" name="number[{{ i }}][{{ j }}]"
                               value="{{ ticket.ticketDetail[i].numbers[j]|default('') }}">
                    </div>
                {% endfor %}
                <div class="field">
                    <input class="jokernumber" type="text" name="number[{{ i }}][5]"
                           value="{{ ticket.ticketDetail[i].numbers[5]|default('') }}">
                </div>
            </div>
        {% endfor %}

    </div>

    <div class="actions">
        <button type="submit" class="ui green button ok">
            <i class="icon checkmark"></i>
            Save Ticket
        </button>
    </div>

    <script src="/plugins/jquery-autotab-master/js/jquery.autotab.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $('.draw-range').autotab({
                format:"number",
                maxlength: 4
            });
            $('.jokernumber').autotab({
                format:"number",
                maxlength: 2
            });
        })
    </script>
</form>
